{% load static %}
<footer>
  <hr>
  <div cl{% load static %}ass="first-row">
    <span>
      <h4>Fuentes:</h4>
      <li>
        <a href="https://www.aditivos-alimentarios.com" target="_blank">https://www.aditivos-alimentarios.com</a>
      </li>
      <li>
        <a href="https://e-aditivos.com" target="_blank">https://e-aditivos.com</a>
      </li>
      <li>
        <a href="https://hablemosclaro.org/ingrepedia/" target="_blank">https://hablemosclaro.org/ingrepedia/</a>
      </li>
    </span>
  </div>

  <hr>
  <div class="github-link">
    <h2>If you like this project fork it on <a href="https://github.com/ricardomvp/new-nutriapp" target="_blank">GitHub</a></h2>
  </div>
  <div class="second-row">
    <h4>powered by</h4>
    <a href="https://platzi.com/" target="_blank">
      <img src="{% static '/images/platzi.png' %}" alt="Platzi">
    </a>
    <a href="#">
      <img src="{% static '/images/hh.png' %}" alt="HH">
    </a>
  </div>
</footer>
